<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/public/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">

    <title>Vielen Dank</title>
</head>
<body style="background-color: #ffed00">
<div class="container bg-white p-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="/public/logo.png" class="img-fluid">
        </div>
        <div class="col-md-8 col-12">
            <h1 class="display-1 fw-bold text-center" style="color: #e5007d">Vielen Dank</h1>
        </div>
    </div>
    <div class="mt-5 row">
        <div class="col text-center"><a href="https://fdp-leipzig.de/datenschutz/" target="_blank">Datenschutzerklärung</a></div>
        <div class="col text-center"><a href="https://fdp-leipzig.de/impressum/" target="_blank">Impressum</a></div>
    </div>
</div>

</body>
</html>